
// base sass, mixin + variable
@import 'base/vars';
@import 'base/mixin/mixin';
@import 'base/mixin/grid';
@import 'base/mixin/grid-framework';

@import 'module/font';
@import 'module/icon';

// global
@import 'layout/global';
@import 'layout/grid_bootstrap';
@import 'layout/grid';
@import 'module/form';
@import 'module/social';

// header
@import 'layout/header';
@import 'component/nav';
@import 'component/search';

// main
@import 'component/headline';
@import 'component/latest';
@import 'component/most';
@import 'component/button';
@import 'component/section';

// feature
@import 'component/editors_pick';
@import 'component/quiz';
@import 'component/topic';
@import 'component/fixtures';
@import 'component/competition';
@import 'component/video';
@import 'component/photo';
@import 'component/404';
@import 'component/tables';
@import 'component/tab';
@import 'component/opinion';

// read
@import 'component/title';
@import 'component/breadcrumb';
@import 'component/read';
//@import 'component/related';
@import 'component/tags';
@import 'component/comment';
@import 'component/paging';
//@import 'module/modals';

// footer
@import 'layout/footer';

// plugin
@import 'plugin/slick';
@import 'plugin/slick-theme';
@import 'plugin/slick-custom';
@import 'plugin/magnificpopup';

// ads
@import 'component/ads';

// effects
@import 'module/animate';

// override
@import 'module/override';

