.author {
	position: relative;
	&__img {
		width: 75px;
		height: 75px;
		overflow: hidden;
		border-radius: 100%;
		margin-right: 25px;
		//border: 1px solid transparent;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
		@include transition(all .2s ease);
		img {
			width: 100%;
		}
	}
	&__right {
		width: calc(100% - 100px);
		position: relative;
		//padding-left: 15px;
	}
	&__name {
		margin: 5px 0;
		@include font-pack(false, 16px, 700, false, false);
		@include title_overflow(auto, 95px);
	}
	&__title {
		margin: 5px 0;
		@include font-pack(false, 12px, 400, false, false);
		@include title_overflow(auto, 58px);
	}
	&__link {
		display: block;
	}
	&__desc {
		position: relative;
		padding: 20px 0 0;
		@include font-pack(false, 14px, 400, false, #1b1b1b);
	}
	// &__item {
	// 	position: relative;
	// 	@include display-flex();
	// 	margin: 0 0 20px;
	// 	padding: 0;
	// 	align-items: center;
	// 	&:hover {
	// 		.opinion__img {
	// 			@include transform_scale(1.02);
	// 			box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	// 			//border: 5px solid $color_theme;
	// 		}
	// 	}
	// }
	
	// index
	&__header {
		position: relative;
		@include display-flex();
		flex-wrap: wrap;
		padding: 25px;
		.author__name {
			font-size: 18px;
		}
		.author__title {
			font-size: 16px;
		}
		.author__right {
			//padding-left: 25px;
			align-self: center;
		}
	}
}
