.quiz {
	position: relative;
	&.-page {
		height: 600px;
	}
	&__box {
		position: relative;
	}
	&__img {
		//height: 210px;
		overflow: hidden;
		position: relative;
	}
	&__footer {
		position: relative;
		text-align: center;
		padding: 20px 15px;
	}
	&__title {
		@include font-pack(false, 14px, 500, false, false);		
	}
	
	// detail
	&__layers {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background: #fff;
		&.-active {
			z-index: 2;
		}
	}
	&__detail {
		position: relative;
		margin: 0 auto;
		padding: 20px 0px;
		width: 80%;
		height: calc(100% - 50px);
	}
	&__login {
		width: 320px;
		margin: 0 auto;
	}
	&__teaser {
		text-align: left;
		padding: 10px 10px;
		@include font-pack(false, 14px, 400, false, false);		
	}
	&__question {
		position: relative;
		padding: 10px;
		@include font-pack(false, 20px, 500, false, false);		
	}
	&__option  {
		position: relative;
		padding: 20px 0;
		@include display-flex();
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		&__item {
			width: calc(100% / 2);
			position: relative;
			vertical-align: top;
			padding: 10px;
			label {
				position: relative;
				border-radius: 5px;
				display: block;
				overflow: hidden;
				text-align: left;
				padding: 20px 20px 20px 45px;
				//background: linear-gradient(-90deg,rgba(0,0,0,.8),rgba(0,0,0,.5));
				//background: -webkit-linear-gradient(-90deg,rgba(0,0,0,.8),rgba(0,0,0,.5));
				background: rgba(0,0,0,.7);
				height: 120px;
				cursor: pointer;
				@include transition(all .2s ease);
				&:hover {
					//background: linear-gradient(-90deg,rgba(0,0,0,.5),rgba(0,0,0,.5));
					//background: -webkit-linear-gradient(-90deg,rgba(0,0,0,.5),rgba(0,0,0,.5));
					background: rgba(0,0,0,.5);
				}
				input[type="radio"] {
					position: absolute;
					z-index: 2;
					top: 23px;
					left: 20px;
					&:before {
						width: 18px;
						height: 18px;
					}
				}
			}
			span {
				display: block;
				@include title_overflow(auto, 81px);
				@include font-pack(false, 16px, 500, false, #fff);	
			}
		}
	}
	&__bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background-size: cover;
		background-position: center center;
	}
	&__result {
		position: relative;
		overflow: hidden;
		width: auto;
		text-align: left;
		margin: 0 auto;
		padding: 20px 220px 20px 20px;
		background: #09509C;
		color: #fff;
		border-radius: 5px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		.quiz__bg {
			z-index: 1;
			width: 200px;
			height: 100%;
		}
		h4 {
			@include font-pack(false, 20px, 700, false, false);	
		}
	}
	&__action {
		position: relative;
		padding: 20px 0;
	}
	&__button {
		position: relative;
		@include display-flex();
		align-items: center;
		&__item {
			width: calc(100% / 2);
			.form__button {
				width: 150px;
			}
		}
	}
}
