.search {
	position: relative;
	&__bar {
		margin: 20px 0;
		position: relative;
		.icon {
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 2;
			font-size: 19px;
			pointer-events: none;
			color: #fff;
		}
	}
	&__input {
		background: #ccc;
		height: 40px !important;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		box-shadow: none;
		border: 1px solid #ccc;
		border-radius: 5px;
		@include font-pack($font_secondary, 14px, 700, false, #fff);
		&::placeholder {
			color: #fff;
		}
		&:focus,
		&:hover {
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background: darken(#ccc, 10%);
			box-shadow: none;
			border: 1px solid darken(#ccc, 10%);
		}
	}
	&__submit {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		
		width: 40px;
		height: 40px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: transparent;
		box-shadow: none;
		border: none;
		color: transparent;
		&:focus,
		&:hover {
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background: transparent;
			box-shadow: none;
			border: none;
			color: transparent;
		}
	}
}
