
.mt1 {
	margin-top: 10px;
}
.mt2 {
	margin-top: 20px;
}
.mt3 {
	margin-top: 30px;
}
.mt4 {
	margin-top: 40px;
}
.mt5 {
	margin-top: 50px;
}
.mt6 {
	margin-top: 60px;
}
.mt7 {
	margin-top: 70px;
}

.adv {
	&__title {
		position: relative;
		padding: 7px 15px;
		background: #e5e5e5;
		letter-spacing: 2px;
		margin: 15px 0 0 -15px;
		display: inline-block;
		@include font-pack(false, 14px, false, false, #616161);
	}
}
