.button {
	position: relative;
	&--login {
		position: relative;
		display: block;
		width: auto;
		padding: 10px 20px 10px 40px;
		margin: 0 0 20px;
		border: 1px solid transparent;
		vertical-align: text-bottom;
		text-transform: uppercase;
		letter-spacing: 1px;
		background: transparent;
		box-shadow: none;
		border-radius: 0;
		@include transition(all .2s ease);
		@include font-pack(false, 16px, 400, false, #fff);
		&:hover {
			color: #fff;
			border: 1px solid transparent;
			background: $color_theme;
		}
		.icon {
			position: absolute;
			left: 15px;
			top: 11px;
			z-index: 1;
			font-size: 20px;
		}
	}
	&--facebook {
		background: $color_facebook;
		&:hover {
			background: darken($color_facebook, 8%);
		}
	}
	&--google {
		background: $color_google_plus;
		&:hover {
			background: darken($color_google_plus, 8%);
		}
	}
//	&__backtop {
//		opacity: 1;
//		visibility: visible;
//		position: fixed;
//		right: 10px;
//		bottom: 25px;
//		z-index: 9;
//		display: block;
//		border: none;
//		padding: 0;
//		text-align: center;
//		background: $color-theme;
//		border-radius: 100%;
//		span {
//			width: 40px;
//			height: 40px;
//			display: block;
//			color: #fff;
//			font-size: 35px;
//		}
//		&:hover {
//			border: none;
//		}
//	}
//	&--hide {
//		opacity: 0;
//		visibility: hidden;
//	}
}
