.most {
	position: relative;
	&__number {
		width: 50px;
		height: 50px;
		position: relative;
		font-style: italic;
		text-align: center;
		padding: 10px 5px 10px 0;
	    letter-spacing: -5px;
		@include transition(all .2s ease);
		@include font-pack(false, 35px, false, 1, $color_theme);
		&:after {
			content: '';
			position: absolute;
			width: 50px;
			height: 50px;
			background: #F1F1F1;
			border-radius: 100%;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
	&__right {
		width: calc(100% - 50px);
		position: relative;
		padding-left: 20px;
	}
	&__title {
		margin: 15px 0;
		@include font-pack(false, 16px, 700, false, false);
		@include title_overflow(auto, 60px);
	}
	&__link {
		display: block;
		border-bottom: 1px solid #DCDCDC;
	}
	&__item {
		position: relative;
		@include display-flex();
		margin: 0;
		padding: 0;
		align-items: center;
		&:hover {
			.most__number {
//				font-weight: 700;
				color: #2a2a2a;
			}
		}
		&:last-child {
			.most__link {
				border-bottom: 1px solid transparent;
			}
		}
	}
}
