<!-- ads horizontal -->
<div class="ads__horizontal">
	<a href="javascript:void(0)" class="ads__button" id="js--close">x</a>
	<img src="https://tpc.googlesyndication.com/simgad/11715859930472282029" alt="">	
</div>
