<nav class="nav -hide" id="js--nav">
	<div class="nav__scroll">
		<ul class="nav__wrap">
			{{#if navCustom}}
			{{>nav_item section=section navCustom=navCustom}}
			{{else}}
			{{>nav_item section=section navCustom=MainMenu}}
			{{/if}}
		</ul>
	</div>
	<div class="nav__overlay"></div>
</nav>
