{{#if channel}}
<div class="tag tag--article clearfix">
	<ul class="tag__list">
		{{#each channel.tag as |tagging|}}
		<li>
			<h4><a href="tagging.html">{{tagging}}</a></h4>
		</li>
		{{/each}}
	</ul>
</div>
{{/if}}
