{{#eq facebook compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--facebook">
		<span class="icon icon-facebook"></span>
	</a>
</div>
{{/eq}}
{{#eq twitter compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--twitter">
		<span class="icon icon-twitter"></span>
	</a>
</div>
{{/eq}}
{{#eq google compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--google-plus">
		<span class="icon icon-google-plus"></span>
	</a>
</div>
{{/eq}}
{{#eq instagram compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--instagram">
		<span class="icon icon-instagram"></span>
	</a>
</div>
{{/eq}}
{{#eq whatsapp compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--whatsapp">
		<span class="icon icon-whatsapp"></span>
	</a>
</div>
{{/eq}}
{{#eq line compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--line">
		<span class="icon icon-line"></span>
	</a>
</div>
{{/eq}}
{{#eq linkedin compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--linkedin">
		<span class="icon icon-linkedin"></span>
	</a>
</div>
{{/eq}}
{{#eq rss compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--rss">
		<span class="icon icon-rss"></span>
	</a>
</div>
{{/eq}}
{{#eq youtube compare=true}}
<div class="social__item">
	<a href="#" class="social__link social__link--youtube">
		<span class="icon icon-youtube"></span>
	</a>
</div>
{{/eq}}
