<div class="quiz__box">
	<div class="quiz__img">
		<a href="quiz.html">
			<img src="https://assets.skor.id/photo/2020/01/03/2116995630.jpg" alt="">
		</a>
	</div>
	<div class="quiz__footer">
		<h4 class="quiz__title"><a href="quiz.html">Tipe Pemain Seperti Apakah Anda?</a></h4>
	</div>
</div>
