{{#if channel}}
{{#each channel}}
<section class="competition clearfix">
	<h3 class="title">
		<span>{{name}}</span>
	</h3>
	<div class="competition__box">
		<div class="competition__list">
			{{#each list}}
			<div class="competition__item">
				<a href="#" class="competition__title">{{name}} <span class="icon icon-angle-down"></span></a>
				<div class="competition__sublist">
					{{#each list as |title|}}
					<a href="kompetisi-detail.html" class="competition__subtitle">{{title}}</a>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>

{{/each}}
{{/if}}
