<nav class="nav">
	<div class="nav__logo"><a href="index.html"><img src="./asset/images/logo-skorid.png" alt="Skor.id"></a></div>
	<ul class="nav__wrap">
		<li>
			<a href="section.html">Bola</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Indonesia</a></li>
				<li><a href="section.html">Inggris</a></li>
				<li><a href="section.html">Italia</a></li>
				<li><a href="section.html">Spanyol</a></li>
				<li><a href="section.html">Jerman</a></li>
				<li><a href="section.html">Perancis</a></li>
			</ul>
		</li>
		<li>
			<a href="livescore.html">Live Score</a>
		</li>
		<li>
			<a href="section.html">Olympic</a>
		</li>
		<li>
			<a href="section.html">Racing</a>
		</li>
		<li>
			<a href="section.html">Lifestyle</a>
		</li>
		<li>
			<a href="section.html">Komunitas</a>
		</li>
		<li>
			<a href="section.html">E-Sports</a>
		</li>
		<li>
			<a href="klasemen.html">Klasemen</a>
		</li>
	</ul>
</nav>
