<nav class="nav">
	<div class="nav__logo"><a href="index.html"><img src="./asset/images/logo-skorid.png" alt="Skor.id"></a></div>
	<ul class="nav__wrap">
		<li>
			<a href="index.html">Home</a>
		</li>
		<li>
			<a href="klasemen.html">Kompetisi</a>
		</li>
		<li>
			<a href="section.html">Bola Nasional</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Liga 1</a></li>
				<li><a href="section.html">Liga 2</a></li>
				<li><a href="section.html">Nusantara</a></li>
				<li><a href="section.html">Timnas Indonesia</a></li>
				<li><a href="section.html">Liga Top Skor</a></li>
			</ul>
		</li>
		<li>
			<a href="livescore.html">Bola Internasional</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Liga Inggris</a></li>
				<li><a href="section.html">Liga Spanyol</a></li>
				<li><a href="section.html">Liga Italia</a></li>
				<li><a href="section.html">Liga Champions</a></li>
				<li><a href="section.html">Dunia</a></li>
			</ul>
		</li>
		<li>
			<a href="section.html">Balap</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Formula 1</a></li>
				<li><a href="section.html">MotoGp</a></li>
			</ul>
		</li>
		<li>
			<a href="section.html">Basket</a>
			<ul class="nav__submenu">
				<li><a href="section.html">IBL</a></li>
				<li><a href="section.html">NBA</a></li>
			</ul>
		</li>
		<li>
			<a href="section.html">Raket</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Badminton</a></li>
				<li><a href="section.html">Tenis</a></li>
			</ul>
		</li>
		<li>
			<a href="klasemen.html">Fight</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Tinju</a></li>
				<li><a href="section.html">MMA</a></li>
				<li><a href="section.html">One
Championship</a></li>
			</ul>
		</li>
		<li>
			<a href="section.html">Olahraga Lainnya</a>
		</li>
		<li>
			<a href="section.html">E-Sports</a>
		</li>
		<li>
			<a href="section.html">Entertainment</a>
			<ul class="nav__submenu">
				<li><a href="section.html">Selebriti</a></li>
				<li><a href="section.html">Gosip</a></li>
			</ul>
		</li>
		<li>
			<a href="section.html">Galeri</a>
			<ul class="nav__submenu">
				<li><a href="images.html">Foto</a></li>
				<li><a href="video.html">Video</a></li>
			</ul>
		</li>
	</ul>
</nav>
