<div class="paging paging--page clearfix">
	<div class="paging__wrap clearfix">
		<div class="paging__item">
			<a class="paging__link paging__link--prev" href="#">Prev</a>
		</div>
		<div class="paging__item">
			<a class="paging__link" href="#">1</a>
		</div>
		<div class="paging__item">
			<a class="paging__link paging__link--active" href="#">2</a>
		</div>
		<div class="paging__item">
			<a class="paging__link" href="#">3</a>
		</div>
		<div class="paging__item">
			<a class="paging__link" href="#">4</a>
		</div>
		<div class="paging__item">
			<a class="paging__link" href="#">5</a>
		</div>
		<div class="paging__item">
			<a class="paging__link paging__link--next" href="#">Next</a>
		</div>
	</div>
</div>
