<div class="read__paging clearfix">
	<div class="paging paging--article clearfix">
		<div class="paging__teaser">Halaman: </div>
		<div class="paging__wrap clearfix">
			<div class="paging__item">
				<a class="paging__link paging__link--active" href="#">1</a>
			</div>
			<div class="paging__item">
				<a class="paging__link" href="#">2</a>
			</div>
			<div class="paging__item">
				<a class="paging__link" href="#">3</a>
			</div>
			<div class="paging__item">
				<a class="paging__link" href="#">4</a>
			</div>
			<div class="paging__item">
				<a class="paging__link" href="#">5</a>
			</div>
			<div class="paging__item">
				<a class="paging__link" href="#">Selanjutnya</a>
			</div>
			<div class="paging__all">
				<a class="paging__link paging__link--show" href="#">Show All</a>
			</div>
		</div>
	</div>
</div>
