<div class="read__header clearfix">

	<!-- advertorial -->
	<div class="ads__title">Advertorial</div>
	
	<h1 class="read__title"></h1>
	
	<div class="read__info">
		<div class="read__info__img">
			<img src="https://asset.kompas.com/crop/0x0:0x0/100x100/left/data/photo/profile/872c8ee83496cfd3df7933c69aa3334f.jpg" alt="">
		</div>
		<div class="read__info__col">
			<div class="read__info__date">
				Senin, 24 September 2019 | 23:34 WIB
			</div>
			<div class="read__info__author">
				<strong>Penulis:</strong> <a href="opini-author.html"></a>
			</div>
			<div class="read__info__author">
				<strong>Editor:</strong> <a href="opini-author.html"></a>
			</div>
		</div>
		<div class="social social--article clearfix">
			<div class="social__item">
				<a href="#" class="social__link social__link--facebook">
					<span class="icon icon-facebook"></span>
				</a>
			</div>
			<div class="social__item">
				<a href="#" class="social__link social__link--twitter">
					<span class="icon icon-twitter"></span>
				</a>
			</div>
			<div class="social__item">
				<a href="#" class="social__link social__link--whatsapp">
					<span class="icon icon-whatsapp"></span>
				</a>
			</div>
			<div class="social__item">
				<a href="#" class="social__link social__link--line">
					<span class="icon icon-line"></span>
				</a>
			</div>
		</div>		
	</div>
	
	
</div>
