<section class="competition box clearfix">
	<h3 class="title -center">
		<span></span>
	</h3>
	<div class="competition__box">
		<div class="competition__list">
		</div>
	</div>
</section>

<section class="competition box clearfix">
	<h3 class="title -center">
		<span></span>
	</h3>
	<div class="competition__box">
		<div class="competition__list">
		</div>
	</div>
</section>

<section class="competition box clearfix">
	<h3 class="title -center">
		<span></span>
	</h3>
	<div class="competition__box">
		<div class="competition__list">
		</div>
	</div>
</section>

