<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- ads skin -->
	{{!> ads_skin}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs12-12">
					
					<div class="p404 clearfix">
						<div class="display-table">
							<div class="display-center">
								<div class="p404__title">404</div>
								<div class="p404__subtitle">Error</div>
								<div class="p404__content">Halaman yang Anda cari tidak ditemukan.</div>
								<a href="index.html" class="p404__link">Kembali</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	<!-- ads horizontal -->
	{{!> ads_horizontal}}

	{{> js}}
	
</body>
</html>
