<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- ads skin -->
	{{> ads_skin}}
	
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
					
					<!-- ads top -->
					{{> ads_top}}
					
					{{> read_breadcrumb channel=read.bola.article}}

				</div>
			</div>
		</div>
	</div>

	<!-- belt schedule -->
	<div class="row belt clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
				
					<!-- schedule -->
					<section class="schedule box clearfix">
						<div class="schedule__container">
							<div class="schedule__wrap js--schedule">
								<div class="schedule__item">
									{{> widget_salat channel=channel.bola.fixtures.inggris.rounds.[0] index_start=0 index_end=4}}
								</div>
								<div class="schedule__item">
									{{> widget_salat channel=channel.bola.fixtures.inggris.rounds.[1] index_start=0 index_end=4}}
								</div>
							</div>
						</div>
					</section>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				
				<div class="col-bs10-7">
				
					<div class="content box clearfix">
					
						<!-- header -->
						<section class="read__header clearfix">
							{{> read_header channel=read.bola.article ads=true}}
						</section>

						<div class="read__article clearfix js--tower-parent">
							<div class="col-bs12-3 col-offset-0">
								{{> ads_tower}}
							</div>
							<div class="col-bs12-9">

								<!-- content -->
								<article class="read__content clearfix">
									{{{read.bola.article.content}}}
									<ol>
										<li>Paris Saint-Germain</li>
										<li>Real Madrid</li>
										<li>Bayern Muenchen</li>
										<li>Tottenham Hotspur</li>
									</ol>
									<div class="photo">
										<div class="photo__img">
											<img src="https://asset.kompas.com/crop/0x0:0x0/705x500/data/photo/2019/09/27/5d8d352cd8a4e.jpg" alt="Klasemen Liga Italia, Rekor Conte dan Kesempurnaan Inter Milan">
										</div>
										<div class="photo__caption">Inter Milan vs Lazio berlangsung di Stadion Giuseppe Meazza, Rabu (25/9/2019). </div>
									</div>
									<div class="videos__player">
										<div class="videos__ratio">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/6h8OEsCZjGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
										<div class="videos__caption">Inter 1-0 Lazio | Inter maintain winning streak with 5th consecutive victory! | Serie A</div>
									</div>
									{{> read_paging_next}}
								</article>

								{{!> read_paging}}
								
								<div class="read__credit bottom">
									<div class="read__info__author">
										<strong>Sumber:</strong> <a href="opini-author.html">Kompas.com</a>
									</div>
								</div>

								<!-- tagging -->
								<section class="read__tagging clearfix">
									<div class="title2">
										<span>Tag</span>
									</div>
									{{> read_tagging channel=read.bola.article}}
								</section>

								<!-- comment -->
								<section class="read__comment clearfix">
									<div class="title2">
										<span>Komentar</span>
									</div>
									{{> read_comment}}
								</section>

							</div>
						</div>
						
					</div>					
					
					<!-- latest -->
					<section class="latest box clearfix">
						<h3 class="title">
							<span>Berita Terkait</span>
						</h3>
						<div class="latest__wrap">
							{{> latest channel=channel.bola.latest total=3 index_start=0 index_end=3}}
						</div>
					</section>
					
					<div class="latest__more clearfix">
						<a href="#" class="button -more">Want More</a>
					</div>
					
				</div>
				<div class="col-bs10-3">
				
					<!-- ads giant -->
					{{> ads_giant}}
					
					<!-- most -->
					<section class="most box clearfix">
						<h3 class="title -center"><span>Trending</span></h3>
						<div class="most__wrap">
							{{> most channel=channel.bola.latest total=8 index_start=2 index_end=10}}
						</div>
					</section>
										
					<!-- quiz -->
					<section class="quiz box clearfix">
						<h3 class="title -center"><span>Quiz</span></h3>
						<div class="quiz__wrap">
							{{> widget_mail}}
						</div>
					</section>
					
					<!-- ads square -->
					{{> ads_square}}
					
					<!-- standing -->
					<section class="standing box clearfix">
						<div class="standing__wrap js--standing">
							<div class="standing__item">
								{{> widget_valas channel=channel.bola.team.inggris index_start=0 index_end=10 league="Inggris"}}
							</div>
							<div class="standing__item">
								{{> widget_valas channel=channel.bola.team.inggris index_start=0 index_end=10 league="Indonesia"}}
							</div>
							<div class="standing__item">
								{{> widget_valas channel=channel.bola.team.inggris index_start=0 index_end=10 league="Spanyol"}}
							</div>
							<div class="standing__item">
								{{> widget_valas channel=channel.bola.team.inggris index_start=0 index_end=10 league="Italia"}}
							</div>
							<div class="standing__item">
								{{> widget_valas channel=channel.bola.team.inggris index_start=0 index_end=10 league="Jerman"}}
							</div>
						</div>
					</section>
					
					<!-- topik -->
					<section class="topic box clearfix">
						<h3 class="title -center">
							<span>Topik Khusus</span>
						</h3>
						<div class="topic__wrap">
							{{> latest_league channel=channel.bola.latest total=4 index_start=12 index_end=16 topic=true}}
						</div>
					</section>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
