<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header section_name="Kompetisi"}}
	
	<!-- ads skin -->
	{{!> ads_skin}}
	
	<div class="row clearfix">
		<div class="container clearfix">
			<!-- ads top -->
			{{> ads_top}}
		</div>
	</div>

	<!-- title -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
			
					<div class="title3">
						<span>Premier League</span>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				
				<div class="col-bs10-7">
				
					<section class="tab -page box clearfix">
						<div class="tab__menu clearfix">
							<div class="tab__item">
								<a href="kompetisi-detail.html" class="tab__link"><div class="title"><span>Pertandingan</span></div></a>
							</div>
							<div class="tab__item">
								<a href="kompetisi-klasemen.html" class="tab__link -active"><div class="title"><span>Klasemen</span></div></a>
							</div>
						</div>
						<div class="tab__content">
							<div class="tab__content__item">

								<!-- table -->
								<div class="standing__league">
									{{> widget_fixtures channel=channel.bola.team.inggris index_start=0 index_end=20 league="Inggris" dir="premier-league" detail=true}}
									<div class="standing__info">
										<div class="k-col">
											<h4>Keterangan</h4>
											<ul>
												<li><strong>M</strong> : Main</li>
												<li><strong>M</strong> : Menang</li>
												<li><strong>S</strong> : Seri</li>
												<li><strong>K</strong> : Kalah</li>
												<li><strong>GM</strong> : Gol Memasukkan</li>
												<li><strong>GK</strong> : Gol Kemasukan</li>
												<li><strong>SG</strong> : Selisih Gol</li>
												<li><strong>P</strong> : Poin</li>
											</ul>
										</div>
										<div class="k-col">
											<h4>Keterangan</h4>
											<ul>
												<li><span class="badge ucl"></span> Babak Grup Liga Champions</li>
												<li><span class="badge uel"></span> Babak Grup Liga Eropa</li>
												<li><span class="badge uel2"></span> Kualifikasi Liga Eropa</li>
												<li><span class="badge deg"></span> Degradasi</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</section>

				</div>
				
				<div class="col-bs10-3">
				
					<!-- ads giant -->
					{{> ads_giant}}
					
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	{{> footer}}
	
	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	
</body>
</html>
