<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header section_name="Kompetisi"}}
	
	<!-- ads skin -->
	{{!> ads_skin}}
	
	<div class="row clearfix">
		<div class="container clearfix">
			<!-- ads top -->
			{{> ads_top}}
		</div>
	</div>

	<!-- title -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
			
					<div class="title3">
						<span>Kompetisi</span>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				
				<div class="col-bs10-7">
				
					<section class="competition box clearfix">
						<div class="competition__option">
							<div class="competition__option__col">
								<h3 class="title">
									<div class="form__group select competition__form">
										<select name="league" id="">
											<option value="">Sport</option>
											<option value="">Sepak Bola</option>
											<option value="">Basket</option>
											<option value="">Balap</option>
										</select>
									</div>
								</h3>
							</div>
							<div class="competition__option__col">
								<h3 class="title">
									<div class="form__group select competition__form">
										<select name="league" id="">
											<option value="">Liga</option>
											<option value="">Liga Indonesia</option>
											<option value="">Liga Inggris</option>
											<option value="">Liga Italia</option>
											<option value="">Liga Spanyol</option>
											<option value="">Liga Jerman</option>
											<option value="">Liga Perancis</option>
										</select>
									</div>
								</h3>
							</div>
						</div>
					</section>

					<!-- tabs -->
					<section class="tab -page box clearfix">
						<div class="tab__menu clearfix" data-type="tabs">
							<div class="tab__item">
								<a href="#tab-fixtures" class="tab__link"><div class="title"><span>Pertandingan</span></div></a>
							</div>
							<div class="tab__item">
								<a href="#tab-tables" class="tab__link"><div class="title"><span>Klasemen</span></div></a>
							</div>
						</div>
						<div class="tab__content">
							<div class="tab__content__item" id="tab-fixtures">

								<!-- schedule -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-inggris.png" alt="">
										</div>
										<span>Liga Inggris</span>
									</h3>
									<div class="schedule__indeks js--schedule2">
										<div class="schedule__gameweek">
											{{> widget_salat channel=channel.bola.fixtures.inggris.rounds.[0] index_start=0 index_end=4 detail=true}}
										</div>
										<div class="schedule__gameweek">
											{{> widget_salat channel=channel.bola.fixtures.inggris.rounds.[1] index_start=0 index_end=4 detail=true}}
										</div>
									</div>
								</section>

								<!-- schedule -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-italia.png" alt="">
										</div>
										<span>Liga Italia</span>
									</h3>
									<div class="schedule__indeks js--schedule2">
										<div class="schedule__gameweek">
											{{> widget_salat channel=channel.bola.fixtures.inggris.rounds.[0] index_start=0 index_end=4 detail=true}}
										</div>
										<div class="schedule__gameweek">
											{{> widget_salat channel=channel.bola.fixtures.inggris.rounds.[1] index_start=0 index_end=4 detail=true}}
										</div>
									</div>
								</section>

							</div>
							<div class="tab__content__item" id="tab-tables">

								<!-- standing -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-indonesia.png" alt="">
										</div>
										<span>Liga Indonesia</span>
									</h3>
									<div class="standing__league">
										{{> widget_fixtures channel=channel.bola.team.indonesia index_start=0 index_end=5 dir="liga-1" detail=true indeks=true}}
									</div>
								</section>

								<!-- standing -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-inggris.png" alt="">
										</div>
										<span>Liga Inggris</span>
									</h3>
									<div class="standing__league">
										{{> widget_fixtures channel=channel.bola.team.inggris index_start=0 index_end=5 dir="premier-league" detail=true indeks=true}}
									</div>
								</section>

								<!-- standing -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-italia.png" alt="">
										</div>
										<span>Liga Italia</span>
									</h3>
									<div class="standing__league">
										{{> widget_fixtures channel=channel.bola.team.italia index_start=0 index_end=5 dir="serie-a" detail=true indeks=true}}
									</div>
								</section>

								<!-- standing -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-spanyol.png" alt="">
										</div>
										<span>Liga Spanyol</span>
									</h3>
									<div class="standing__league">
										{{> widget_fixtures channel=channel.bola.team.spanyol index_start=0 index_end=5 dir="laliga" detail=true indeks=true}}
									</div>
								</section>

								<!-- standing -->
								<section class="tab__content__box box -indeks clearfix">
									<h3 class="title">
										<div class="title__logo">
											<img src="./asset/images/logo-liga-jerman.png" alt="">
										</div>
										<span>Liga Jerman</span>
									</h3>
									<div class="standing__league">
										{{> widget_fixtures channel=channel.bola.team.jerman index_start=0 index_end=5 dir="bundesliga" detail=true indeks=true}}
									</div>
								</section>
								
							</div>
						</div>
					</section>

				</div>
				
				<div class="col-bs10-3">
				
					<!-- ads giant -->
					{{> ads_giant}}
					
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	{{> footer}}
	
	<!-- ads horizontal -->
	{{> ads_horizontal}}

	{{> js}}
	<script>
	$(document).ready(function() {
		$('.js--schedule2').slick('slickGoTo', 2);
	});
	</script>
	
</body>
</html>
