// reset form
input,
select,
button,
textarea,
.button {
	margin: 0;
	padding: 6px 12px;
	border-radius: 5px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
	//border: solid 1px #eee;
	border: 1px solid #D5D5D5;
	outline: 0;
	@include transition(all .2s ease);
	@include font-pack(false, 14px, 400, 1.42857143, $color_primary);
	&:hover,
	&:focus {
		border: 1px solid darken(#D5D5D5, 20%);
		box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.18);
	}
}

select,
input[type="text"],
input[type="password"] {
	height: 38px;
}

input[type="text"],
input[type="password"] {
	&:disabled {
		background: #f4f4f4;
		color: #C2BEBE;
		&:hover,
		&:focus {
			border: solid 1px #C4C4C4;
			box-shadow: inherit;
		}
	}
}

textarea {
	min-height: 100px;
	max-width: 100%;
	display: block;
	width: 100%;
	resize: none;
}

button,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="reset"] {
	cursor: pointer;
}

input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    line-height: 1;
    box-shadow: none;
    position: relative;
    background: transparent;
	&:before {
		content: '';
		background: #f4f4f4;
		border-radius: 100%;
		border: 2px solid #003977;
		display: inline-block;
		width: 14px;
		height: 14px;
		position: relative;
		top: -2px;
		margin-right: 5px;
		vertical-align: top;
		cursor: pointer;
		text-align: center;
		@include transition(all .2s ease);
	}
	&:checked {
		&:before {
			border: 2px solid #003977;
			background: #3CA5DD;
			box-shadow: inset 0 0 0 1.5px #fff;
		}
	}
}

// style form
.form {
	&__attribute {
		padding: 12px 0 0;
	}
	&__group {
		position: relative;
		display: block;
		margin: 0 0 12px;
		&__inline {
			position: relative;
			@include display-flex();
			align-items: center;
			& > label {
				width: 35%;
				text-align: left;
			}
		}
		&__flex {
			position: relative;
			width: calc(100%);
			@include display-flex();
			align-items: center;
			& > * {
				width: calc(100% / 3) !important;
				margin: 0 0 0 10px;
				&:first-child {
					margin: 0;
				}
			}
			.form__group {
				//margin: 0;
			}
		}
		input,
		select,
		button,
		textarea {
			display: block;
			width: 100%;
		}
		label {
			display: block;
			padding: 5px 0;
			font-size: 16px;
			text-align: left;
		}
		.error {
			color: red;
			padding: 2px 5px;
			font-size: 12px;
			float: right;
			&:empty {
				padding: 0;
			}
		}
		&.select {
			position: relative;
			select {
				background: transparent;
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
			}
			&:after {
				content: '';
				position: absolute;
				top: 10px;
				right: 15px;
				width: 15px;
				height: 15px;
				border-left: 2px solid #a2a2a2;
				border-bottom: 2px solid #a2a2a2;
				transform: rotate(-45deg);
				z-index: 1;
				pointer-events: none;
			}
		}
		&.radio {
			height: 38px;
			line-height: 1;
			label {
				cursor: pointer;
				padding: 15px 0;
			}
			input {
				width: auto;
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
	&__button {
		width: 100%;
		height: 38px;
		background: $color_theme;
		color: #fff;
		font-weight: 500;
		font-size: 14px;
		border: 1px solid $color_theme;
		text-transform: uppercase;
		cursor: pointer;
		&:hover,
		&:focus {
			background: darken($color_theme, 5%);
			border: 1px solid darken($color_theme, 5%);
		}
		&.back {
			background: #e5e5e5;
			border: 1px solid #d2d2d2;
			color: #151515;
		}
		&.disabled {
			border: 1px solid darken(#f4f4f4, 5%);
			background: #f4f4f4;
			color: #C2BEBE;
		}
	}
	&__footer {
		padding: 10px 0;
		position: relative;
	}
	&--hide {
		visibility: hidden;
		display: none;
	}
}
