<footer class="footer">
	<div class="row footer__top container clearfix">
		<div class="footer__logo">
			<a href="index.html">
				<img src="./asset/images/logo-skorid-black.jpg" alt="Skor.id">
			</a>
		</div>
		<div class="social social--footer clearfix">
			<div class="social__item">
				<a href="#" class="social__link social__link--facebook">
					<span class="icon icon-facebook"></span>
				</a>
			</div>
			<div class="social__item">
				<a href="#" class="social__link social__link--twitter">
					<span class="icon icon-twitter"></span>
				</a>
			</div>
			<div class="social__item">
				<a href="#" class="social__link social__link--instagram">
					<span class="icon icon-instagram"></span>
				</a>
			</div>
			<div class="social__item">
				<a href="#" class="social__link social__link--youtube">
					<span class="icon icon-youtube"></span>
				</a>
			</div>
		</div>
		<div class="footer__copyright">
			<p>&copy; SKOR ID. All Right Reserved. 2019</p>
		</div>
	</div>
</footer>
