<div class="read__header clearfix">

	<!-- <h1 class="read__title">Final Liga Champions 2019/2020 PSG Lawan Bayern Muenchen</h1> -->

	<!--
	<div class="read__info__date">
		Senin, 24 September 2019 | 23:34 WIB
	</div>
	-->
	
	<div class="social social--article clearfix">
		<div class="social__item">
			<a href="#" class="social__link social__link--facebook">
				<span class="icon icon-facebook"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--twitter">
				<span class="icon icon-twitter"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--whatsapp">
				<span class="icon icon-whatsapp"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--line">
				<span class="icon icon-line"></span>
			</a>
		</div>
	</div>		

</div>
