<div class="author__header">
	<div class="author__img">
		<img src="https://asset.kompas.com/crop/0x0:0x0/100x100/left/data/photo/" alt="">
	</div>
	<div class="author__right">
		<h4 class="author__name"></h4>
		<div class="author__title"></div>
	</div>
	<div class="author__desc">Pekerja corporate research. Aktivitas penelitiannya mencakup Asia Tenggara. Sejak kembali ke tanah air pada 2003 setelah 10 tahun meninggalkan Indonesia, Mahendra mulai menekuni training korporat untuk bidang Sales, Marketing, Communication, Strategic Management, Competititve Inteligent, dan Negotiation, serta Personal Development.</div>
</div>
