<div class="row ads__stick__wrap clearfix">
	<div class="kcm ads__stick js--stick">
		<div class="ads__stick__fluid ads__stick__fluid--left">
			<div class="ads__stick--left">
				<a href="#">
					<img src="https://tpc.googlesyndication.com/simgad/6682467544119319335?sqp=4sqPyQQ7QjkqNxABHQAAtEIgASgBMAk4A0DwkwlYAWBfcAKAAQGIAQGdAQAAgD-oAQGwAYCt4gS4AV_FAS2ynT4&rs=AOga4qm9goW87Qz2ogjm_pH_FeDTil2xXg">
				</a>
			</div>
		</div>
		<div class="ads__stick__fluid ads__stick__fluid--right">
			<div class="ads__stick--right">
				<a href="#">
					<img src="https://tpc.googlesyndication.com/simgad/6682467544119319335?sqp=4sqPyQQ7QjkqNxABHQAAtEIgASgBMAk4A0DwkwlYAWBfcAKAAQGIAQGdAQAAgD-oAQGwAYCt4gS4AV_FAS2ynT4&rs=AOga4qm9goW87Qz2ogjm_pH_FeDTil2xXg">
				</a>
			</div>
		</div>
	</div>
</div>
