<footer class="footer">
	<div class="row footer__top container clearfix">
		<div class="col-offset-fluid clearfix">
			<div class="col-bs12-4">
				<div class="footer__logo">
					<a href="index.html">
						<img src="./asset/images/logo-skorid-black.jpg" alt="Skor.id">
					</a>
				</div>
			</div>
			<div class="col-bs12-4">
				<div class="footer__menu inline clearfix">
					<div class="footer__item">
						<a href="about.html" class="footer__link">Tentang Kami</a>
					</div>
					<div class="footer__item">
						<a href="pedoman.html" class="footer__link">Pedoman Media Siber</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Kebijakan Privasi</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Hubungi Kami</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Karier</a>
					</div>
				</div>
				<div class="footer__copyright">
					<p>&copy; SKOR ID. All Right Reserved. 2020</p>
				</div>
			</div>
			<div class="col-bs12-4">
				<div class="social social--footer clearfix">
					{{>social facebook=true twitter=true youtube=true instagram=true}}
				</div>
			</div>
		</div>
	</div>
</footer>
