<div class="read__header clearfix">

	<!-- <h1 class="read__title">Final Liga Champions 2019/2020 PSG Lawan Bayern Muenchen</h1> -->
	
	<div class="read__info">
		<div class="read__info__col">
			<!--
			<div class="read__info__date">
				Senin, 24 September 2019 | 23:34 WIB
			</div>
			-->
		</div>
		<div class="social social--article clearfix">
			{{>social whatsapp=true twitter=true facebook=true line=true}}
		</div>		
	</div>
	
</div>
