<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body class="wp">
	<!-- header -->
	{{> header}}
	
	<!-- nav -->
	{{>nav section="Home"}}
	
	<div class="row clearfix">
		<div class="container clearfix">
		
			<!-- ads top -->
			{{> ads_top}}
			
			<!-- standing -->
			<div class="standing__row clearfix">
				<h3 class="title">
					<span>Klasemen</span>
					<div class="form__group select standing__form">
						<select name="league" id="">
							<option value="">Pilih Liga</option>
							<option value="">Liga Indonesia</option>
							<option value="">Liga Inggris</option>
							<option value="">Liga Italia</option>
							<option value="">Liga Spanyol</option>
							<option value="">Liga Jerman</option>
							<option value="">Liga Perancis</option>
						</select>
					</div>
				</h3>
			</div>
			
			<section class="standing table box clearfix">
				{{> widget_valas channel=channel.bola.team.inggris index_start=0 index_end=20 league="Inggris" detail=true}}
			</section>

			<section class="standing box clearfix">
				<div class="standing__info">
					<div class="k-col">
						<h4>Keterangan</h4>
						<ul>
							<li><strong>M</strong> : Main</li>
							<li><strong>M</strong> : Menang</li>
							<li><strong>S</strong> : Seri</li>
							<li><strong>K</strong> : Kalah</li>
							<li><strong>GM</strong> : Gol Memasukkan</li>
							<li><strong>GK</strong> : Gol Kemasukan</li>
							<li><strong>SG</strong> : Selisih Gol</li>
							<li><strong>P</strong> : Poin</li>
						</ul>
					</div>
					<div class="k-col">
						<h4>Keterangan</h4>
						<ul>
							<li><span class="badge ucl"></span> Babak Grup Liga Champions</li>
							<li><span class="badge uel"></span> Babak Grup Liga Eropa</li>
							<li><span class="badge uel2"></span> Kualifikasi Liga Eropa</li>
							<li><span class="badge deg"></span> Degradasi</li>
						</ul>
					</div>
				</div>
			</section>

			<!-- ads bottom -->
			{{> ads_skin}}
			
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}
	
	<!-- ads horizontal -->
	{{> ads_tower}}

	{{> js}}
	
</body>
</html>
