<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body class="wp">
	<!-- header -->
	{{> header}}
	
	<!-- nav -->
	{{>nav section="Home"}}
	
	<div class="row clearfix">
		<div class="container clearfix">
		
			<!-- ads top -->
			{{> ads_top}}
			
			<section class="tab -page clearfix">
				<h3 class="title">
					<span>Liga Inggris</span>
				</h3>
				<div class="tab__menu clearfix">
					<div class="tab__item">
						<a href="kompetisi-detail-motogp.html" class="tab__link -active"><div class="title"><span>Balapan</span></div></a>
					</div>
					<div class="tab__item">
						<a href="kompetisi-klasemen-motogp-riders.html" class="tab__link"><div class="title"><span>Klasemen Pembalap</span></div></a>
					</div>
					<div class="tab__item">
						<a href="kompetisi-klasemen-motogp-team.html" class="tab__link"><div class="title"><span>Klasemen Tim</span></div></a>
					</div>
				</div>
				<div class="tab__content">
					<div class="tab__content__item">

						<!-- table -->
						<section class="standing table box clearfix">
							{{> widget_table_motogp channel=channel.balap.riders index_start=0 index_end=10 detail=true}}
						</section>

					</div>
				</div>
			</section>

			<!-- ads bottom -->
			{{> ads_skin}}
			
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}
	
	<!-- ads horizontal -->
	{{> ads_tower}}

	{{> js}}
	
</body>
</html>
